<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <div id="app">
      <button @click="search">查询新闻信息</button>
      <ul>
        <li v-for="item in postList" :key="item.id">
          {{item.id}} {{item.title}} {{item.author}}
          <button @click="remove(item.id)">删除</button>
        </li>
      </ul>
      <div>
        新闻标题：<input v-model="postOb.title" /> 作者：<input
          v-model="postOb.author"
        />
        <button @click="add">新增新闻</button>
      </div>
    </div>

    <!-- 官网提供的 axios 在线地址 -->
    <!--<script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
    <script src="js/axios.js"></script>
    <script src="js/vue.js"></script>
    <script>
      axios.defaults.baseURL = "http://localhost:3000";
      new Vue({
        el: "#app",
        data: {
          postList: [],
          postOb: {
            title: "",
            author: "",
          },
        },
        methods: {
          search() {
            // 异常处理方式-建议
            axios.get("/post").then((res) => {
              console.log(res);
              this.postList = res.data;
            });
          },
          add() {
            axios.post("/post", this.postOb).then((res) => {
              console.log(res);
            });
            this.search();
          },
          remove(id) {
            axios.delete("/post/" + id).then(res=>{
                console.log(res);
            });
            this.search();
          },
        },
      });
    </script>
  </body>
</html>
